@page "{questionId}"
@model QuestionsAnswers.Web.Pages.Answer.CreateModel

@{
    ViewData["Title"] = "Crear respuesta";
}

<h2>Crear respuesta para la pregunta:</h2>
<h3>@Model.Question.Title</h3>

<p><strong>Hecha por:</strong> @Model.CreatorUserName</p>

<form method="post">
    <div class="form-group">
        <label for="Respond">Escribe aquí tu respuesta</label>
        <textarea id="Respond" name="Respond" class="form-control small-textarea" rows="3" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Responder</button>
</form>

<p></p>

<!-- Button to return to the answers list for this question -->
<a href="/Question/All" class="btn btn-primary">Regresar</a>
