@page
@model QuestionsAnswers.Web.Pages.IndexModel
@{
    ViewData["Title"] = "Página de Inicio";
}

<div class="text-center">
    <h2 style="margin-top: 50px; margin-bottom: 70px;" class="display-6">Bienvenido a la aplicación web de preguntas y respuestas</h2>


    <img src="~/images/bac_credomatic_logo.png" alt="BAC Credomatic" class="img-fluid" style="max-width: 30%; margin-top: 30px; margin-bottom: 30px;">

    <p>Creada por Ricardo Romeo Ramos Recinos <a href="https://learn.microsoft.com/aspnet/core" target="_blank">con .NET 8</a>.</p>
</div>

