@page
@model QuestionsAnswers.Web.Pages.IndexModel
@{
    ViewData["Title"] = "Página de Inicio";
}

<div class="text-center">


    <h1 class="display-5">Bienvenido a la aplicación web de preguntas y respuestas</h1>
    <p></p>
    <img src="~/images/bac_credomatic_logo.png" alt="BAC Credomatic" class="img-fluid" style="max-width: 30%;">
    <p></p>

    <p>Creada por Ricardo Ramos <a href="https://learn.microsoft.com/aspnet/core" target="_blank">con .NET 8</a>.</p>
</div>
