@page
@model QuestionsAnswers.Web.Pages.PrivacyModel
@{
    ViewData["Title"] = "Politica de privacidad";
}
<h1>@ViewData["Title"]</h1>

<p>Página utilizada para mostrar las politicas de privacidad.</p>
